<footer class="site-footer h-card">
  <div class="footer-illustration">
    <div class="scissors">
      <img src="{{ site.url }}{{ site.baseurl }}/src/img/scissors.png" alt="scissors rendered in watercolor and ink">
    </div>
    <div class="lines-2">
      <img src="{{ site.url }}{{ site.baseurl }}/src/img/lines-2.png" alt="">
    </div>
  </div>

  <div class="contact-info">
    <h2 class="footer-heading">Stay in Touch</h2>
    <p>
      {%- if site.author -%}
        <a href="{{ site.email | escape }}">
        Email {{ site.author | escape }}
        </a>
      {%- endif -%}
    </p>
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  </div>
</footer>
