@charset "utf-8";

// Width of the content area
$max-content-width:    1000px;


// Breakpoints
$small: 600px;
$medium: 800px;
$large: 1200px;

// Spacing
$half-spacing: 6px;
$standard-spacing: 12px;
$double-spacing: 24px;
$triple-spacing: 36px;

// Import partials.
@import
  "forest/base",
  "forest/colors",
  "forest/fonts",
  "forest/text",
  "forest/headings",
  "forest/navigation",
  "forest/page",
  "forest/header",
  "forest/content",
  "forest/footer"
;
