main {
  @media (min-width: $small) {
    margin-top: 10vw;
  }
}

.post-header {
  @media (min-width: $small) {
    text-align: right;
    margin-right: 0vw;
  }
}

.home,
.post-content {
  max-width: $max-content-width * .6;
  margin: auto;
}
