main {
  @media (min-width: $small) {
    margin-top: 18vw;
  }

  @media (min-width: $large) {
    margin-top: 22vw;
  }

  @media (min-width: $extra-large) {
    margin-top: 26vw;
  }
}

.post-header {
  @media (min-width: $small) {
    text-align: right;
    margin-right: 0vw;
  }
}

.post-list {
  h3 {
    margin-bottom: $half-spacing;
  }
}

.home,
.post-content {
  max-width: $max-content-width * .6;
  margin: auto;
}
