@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;0,700;1,400&family=Fondamento&display=swap');
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }
  @return $number;
}

// Font Family Variables
$sans-serif: "Cormorant", sans-serif;
$title-font: "Fondamento", sans-serif;
$heading-font-family: $title-font;
$base-font-family: $sans-serif;

// Font Weight Variables
$font-weight--regular: 400;
$font-weight--bold: 700;
$body-font-weight: $font-weight--regular;

// Fluid Typography: Major Third scale for headings/paragraphs
$title-scale: 3.583;
$h1-scale: 2.986;
$h2-scale: 2.488;
$h3-scale: 2.074;
$h4-scale: 1.728;
$h5-scale: 1.44;
$h6-scale: 1.2;
$p-scale: 1;

$min-base-font-size: 16px;
$max-base-font-size: 22px;

// View width for fluid typography
$min-vw: 300px;
$max-vw: 1200px;

// Functions to calculate responsive font sizes
@function responsive-font-size($scale) {
  $min: $min-base-font-size * $scale;
  $max: $max-base-font-size * $scale;
  @return calc(#{$min} + #{strip-unit($max - $min)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
}

// Responsive Font Sizes
$title-font-size: responsive-font-size($title-scale);
$h1-font-size: responsive-font-size($h1-scale);
$h2-font-size: responsive-font-size($h2-scale);
$h3-font-size: responsive-font-size($h3-scale);
$h4-font-size: responsive-font-size($h4-scale);
$h5-font-size: responsive-font-size($h5-scale);
$h6-font-size: responsive-font-size($h6-scale);
$p-font-size:  responsive-font-size($p-scale);

// After the viewport reaches the $max-content-width, the fonts shouldn't scale
// These are the variables for use after the $large breakpoint
$title-font-size--max:   $max-base-font-size * $title-scale;
$h2-font-size--max:    $max-base-font-size * $h2-scale;
$h3-font-size--max:    $max-base-font-size * $h3-scale;
$h4-font-size--max:    $max-base-font-size * $h4-scale;
$h5-font-size--max:    $max-base-font-size * $h5-scale;
$h6-font-size--max:    $max-base-font-size * $h6-scale;
$p-font-size--max:     $max-base-font-size * $p-scale;
