.site-footer {
  margin-top: $standard-spacing * 4;
  text-align: right;

  @media (min-width: $small) {
    padding: $triple-spacing;
  }
}

.footer-illustration {
  position: relative;
}

.scissors {
  @media (min-width: $small) {
    width: 80%;
    margin-bottom: -$standard-spacing * 5;
  }
}

.lines-2 {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
}

.contact-info {
  @media (min-width: $large) {
    margin-right: $triple-spacing * 2;
  }
}
