.site-title-wrapper {
  position: relative;
}

.site-header {
  margin-top: 50vw;

  @media (min-width: $small) {
    margin-top: 0;
  }
}

.post-header {
  @media (min-width: $medium) {
    text-align: right;
    margin-top: 23vw;
    margin-right: 0vw;
  }
}
