.site-title,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  text-decoration: none;
  line-height: 1em;
}

.site-title {
  font-size: $h1-font-size;
  text-shadow: -2px -1px 0 $dark-purple, 3px 4px 0 $light-blue, 2px 1px 0 $black;
  color: transparentize($light-purple, 0.5);

  @media (min-width: $small) {
    font-size: $title-font-size;
  }

  @media (min-width: $large) {
    font-size: $title-font-size--max;
  }
}

h1 {
  font-size: $h1-font-size;
  color: transparentize($light-blue, 0.5);
  text-shadow: -1px -1px 0 $dark-purple, 3px 4px 0 $white, 2px 1px 0 $black;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}
