body {
  color: $black;
  background-color: $white;
  background-image: url("/a-door-in-the-forest/src/img/texture-bg.png");
  font-weight: $font-weight--light;
  font-size: $p-font-size;
  font-family: $serif;
  line-height: 1.5em;

  @media (min-width: $small) {
    font-weight: $font-weight--regular;
  }
}

.body-bg {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;

  img {
    width: 100%;
  }
}

.wrapper {
  max-width: $max-content-width;
  margin: auto;
  padding: $standard-spacing;
}
