a {
  color: $darkest-blue;
  transition: ease all 0.2s;
  
  &:hover,
  &:active,
  &:focus {
    color: $dark-purple;
    text-decoration: none;
  }
}

p {
  margin-bottom: $double-spacing;
}

.post-meta {
  font-family: $title-font;
}
